name: flutter_refresh_rate
description: "A Flutter plugin to get and set display refresh rate and resolution information on Android devices."
version: 0.0.3
homepage: https://github.com/sujithsdeveloper/flutter_refresh_rate
repository: https://github.com/sujithsdeveloper/flutter_refresh_rate
issue_tracker: https://github.com/sujithsdeveloper/flutter_refresh_rate/issues

environment:
  sdk: ^3.10.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0


flutter:

  plugin:
    platforms:
      android:
        package: com.example.flutter_refresh_rate
        pluginClass: FlutterRefreshRatePlugin
